<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="naviFragment">
        <nav>
            <hr>
            <ul class="nav_list">
                <li class="nav_item"><a href="/factory">FACTORY</a></li>
                <li class="nav_item"><a href="/frame">FRAME</a></li>
                <li class="nav_item"><a href="/event">EVENT</a></li>
            </ul>
            <hr>
        </nav>
    </th:block>
</body>
</html>